* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
:root {
  --main-font: "Baloo Bhaijaan 2", sans-serif;
  /* --main-font: "Roboto Slab", serif; */
  --mainColor: #f7f5f5;
  --secondColor: #000000;
}

body {
  background-color: var(--secondColor);
  overflow-x: hidden;
  transition: 1s;
}
.dark {
  background-color: var(--mainColor);
}
.darkMode {
  color: black !important;
}
.changebg {
  /* background-color: #e3dfeba8; */
  background-image: linear-gradient(-45deg, #9795f0e2 0%, #fbc8d4d4 100%);
  padding: 0;
}

.h-10 {
  height: 50%;
}
p {
  transition: 0.3s;
}

.bg-shapes {
  position: relative;
  width: 100%;
  z-index: -1;
}

.bg-shapes .shape-1 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: fixed;
  right: -150px;
  top: -390px;
  background-image: linear-gradient(145deg, #9795f0 0%, #fbc8d4 100%);
  animation: rotate 3s linear infinite;
}
.bg-shapes .shape-2 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: fixed;
  left: -150px;
  top: 250px;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  animation: rotate 3s linear infinite;
}
@media (max-eidth: 767px) {
  .bg-shapes .shape-1,
  .bg-shapes .shape-2 {
    animation-play-state: paused;
  }
}
.name {
  font-size: 30px;
  font-family: var(--main-font);
  font-weight: 600;
}
/* start home page  */
.navbar {
  transition: 0.4s;
}
.nav-item a {
  position: relative;
  margin: 5px;
  color: var(--secondColor);
}
.nav-item a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: var(--mainColor);
  left: 0;
  bottom: 5px;
  transition: 0.5s;
}
.nav-item a.active::before,
.nav-item a:hover::before {
  width: 100%;
}

.navbar .mode {
  background-color: white;
  border: none;
  width: 50px;
  border-radius: 20px;
  padding-top: 2px;
}
.navbar .mode i {
  color: gold;
  transform: translate(-10px);
  transition: 0.4s;
}
.box {
  width: 90%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.95) 3.4px 2.4px 6.2px;
  background-color: rgba(119, 118, 118, 0.162);
}
.home {
  opacity: 0.3;
  transition: 0.9s;
}
.info {
  flex: 1;
}
.info h2 {
  font-size: 45px;
  font-weight: 800;
  font-family: var(--main-font);
  transition: 0.3s;
  color: white;
}
.info p {
  font-size: 18px;
  color: var(--mainColor);
  line-height: 2;
  padding: 5px 20px;
}
.image {
  width: 25%;
  border-radius: 50%;
}
.image-holder {
  overflow: hidden;
  width: 350px;
  height: 450px;
  border-radius: 50%;
  position: relative;
  top: -20px;
}
.image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .box {
    margin: 0 auto !important;
  }
  body {
    margin-top: 10px;
  }
  .home {
    text-align: center;
    padding: 5px !important;
  }
  .info p {
    padding: 0;
  }
}
@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.media-icons i {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 8px;
  text-decoration: none;
  transition: 0.4s;
  opacity: 0.8;
}
.media-icons i:hover {
  transform: scale(1.3);
  opacity: 1;
}
.arrow-down {
  width: fit-content;
  display: block;
  margin: 5px auto;
  animation: arrow-down 0.5s linear infinite;
  font-size: 22px;
  color: #9795f0;
}
@keyframes arrow-down {
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* End home page  */

/* start about section  */

.about .content {
  transition: 1s;
  transform: translateX(150%);
}
.heading {
  font-size: 35px;
  font-weight: 600;
  font-family: var(--main-font);
  color: var(--mainColor);
  width: fit-content;
  margin: 60px 60px;
  position: relative;
}
.heading::before {
  content: "";
  position: absolute;
  width: 55px;
  background-color: var(--mainColor);
  height: 2px;
  top: 50%;
  transform: translateX(-50%);
  left: -30px;
}
.heading::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--mainColor);
  top: 35%;
  transform: translateX(-35%);
  left: -55px;
}
.about-image {
  transform: translateX(-150%);
  transition: 1s;
}
.about-image img {
  width: 80%;
  border-radius: 15px;
}

.about .content h2 {
  color: #fff;
  font-size: 35px;
  font-family: var(--main-font);
  margin: 0 0 30px -10px;
}
.about .content p {
  color: #fff;
  line-height: 2;
  font-size: 15px;
}
@media (max-width: 767px) {
  .about .container {
    text-align: center !important;
  }
}
/* end about section  */

/* start skills section  */
.skill h4 {
  color: white;
}
.progress-bar {
  color: black;
  font-weight: bold;
}
@media (max-width: 767px) {
  .skill {
    display: block !important;
  }
}
/* end skills section  */

/* Start Projects Section  */
.card {
  opacity: 0;
  transition: 1s;
  border-radius: 0;
  height: 320px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.project-btn {
  width: fit-content;
  display: block;
  margin: 20px auto;
}

.projects .card:hover .card-body {
  bottom: 0;
  opacity: 1;
  transform: translate(5px, -15px);
}

.projects .card .card-body {
  position: absolute;
  bottom: -30px;
  background-color: #000000bd;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: 0.4s;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
.projects .card .card-body p {
  color: white !important;
}
.projects .card img {
  object-fit: cover;
  height: 100%;
}
.projects .card:hover {
  transform: scale(1.1);
}

/* End Projects Section  */

/* Start Contact Section  */
.img-footer {
  overflow: hidden;
  border-radius: 40%;
  text-align: center;
}

.contact .row {
  border-top: 2px solid white;
  padding: 5px;
}
.contact a {
  text-decoration: none;
  transition: 0.3s;
}
.contact a:hover {
  padding-left: 5px;
}
.contact a {
  text-decoration: none;
}
.contact a i {
  margin-right: 15px;
}
#form {
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-15px);
  width: 102.3%;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin-bottom: 35px;
  border-radius: 5px;
  background-image: linear-gradient(-45deg, #9795f0 0%, #fbc8d4 100%);
  color: black;
  opacity: 0;
  transition: .5s;
}

#form .form-right {
  text-align: center;
}

#form input,
#form textarea {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #9529cfa5;
  border-radius: 2px;
  padding: 10px 5px;
}
/* #form label {
  transform: translate(5px, 22px);
} */
#form input::placeholder,
#form textarea::placeholder {
  color: white;
  /* transform: translate(5px, 22px); */
}
#form input:focus #form label,
#form textarea:focus #form label {
  transform: translate(0, 0);
}

/* End Contact Section  */
